<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <header>
                    <div class="header_left">
                        <a class="logo" href="index.html">E-shop</a>
                    </div>
                    <div class="header_right">
                        <form action="#" class="search-form" @submit.prevent="filter">
                            <input type="text" class="goods-search" v-model="userSearch" />
                            <button class="search-button" type="submit">
                                <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                </svg>
                            </button>
                        </form>
                        <button class="btn-cart" type="button" @click="showCart = !showCart">Корзина</button>
                        <div class="basket backet-click" v-show="showCart">
                            <p v-if="!basket.length">Корзина пуста :(</p>
                            <div class="basket-item" data-id="${this.id}" v-for="item of basket" :key="item.id_product">
                                <div class="cart-left">
                                    <img :src="imgBasket" alt="img">
                                    <div>
                                        <h3>{{item.product_name}}</h3>
                                        <p>{{item.price}} &#8381;</p>
                                    </div>
                                </div>
                                <div class="cart-right">
                                    <p>{{item.quantity}} шт.</p>
                                    <p>{{item.price * item.quantity}} &#8381;</p>
                                    <button class="delFromBasket" @click="delFromBasket(item)">
                                        &times;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <main>
            <div class="position">
                <div class="products">
                    <div class="product-item" v-for="product of filteredGoods" :key="product.id_product">
                        <img :src="imgGood" alt="img">
                        <div class="product-description">
                            <h3>{{product.product_name}}</h3>
                            <p>{{product.price}} &#8381;</p>
                            <button class="buy-btn" @click="addGood(product)">Купить</button>
                        </div>

                    </div>
                </div>
            </div>
        </main>


        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/main.js"></script>
</body>

</html>